<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer</title>
    <link rel="stylesheet" href="../static/css/aboutDeveloper_us.css">
    <link rel="stylesheet" media="screen and (max-width:700px)" href="../static/css/phonedeveloper.css">
</head>
<body>
    <nav class="nav vnav">
        <ul class="right_end vright">
            <li> <a href="/">Home</a> </li>
            <li> <a href="/contact">Contact Us</a> </li>
            //- <!-- <li> <a href="#" target="blank">About Us</a> </li> -->
            <li> <a href="/developer">About Developer</a> </li>
        </ul>
    </nav>
    <div class="container">
        <div class="details">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, eos! <br> ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, blanditiis!
                 <br> ipsum dolor sit amet consectetur adipisicing elit. Explicabo, corrupti?</p>
        </div>
    </div>
    
</body>
</html>