<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggest_Mee</title>
    <link rel="stylesheet" href="../static/css/home.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" media="screen and (max-width:900px) " href="../static/css/phonehome.css">
     
    </head>
<body>
<nav class="nav vnav">
    <ul class="right_end vright">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/contact">Contact Us</a> </li>
        <li> <a href="#owners" target="blank">About Us</a> </li>
        <li> <a href="/developer">About Developer</a> </li>
    </ul>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="introline">
    <h1 id="intro"> Suggestions Our Decision Will Be Yours.</h1>
    <h1>Suggest_Mee</h1>
    <button class="channel_button"><a href="https://youtube.com/channel/UCH4zIVR7vRmvIz1HfQ-1mLA" target="blank">Visit My YouTube Channel</a> </button>
</div>
</nav>
<section class="intro_section">
    <div class="items item1">
        <img src="../static/pics/team.jpg" alt="team_img">
        <button class="button1"> <a href="#owners">Our Team</a> </button>
    </div>
    <div class="items item1">
        <img src="../static/pics/utube.jpg" alt="utube_img">
        <button class="button1"><a href="https://youtube.com/channel/UCH4zIVR7vRmvIz1HfQ-1mLA" target="blank">Browse Videos</a></button>
    </div>
    <div class="items">
        <img src="../static/pics/vlog1.jpg" alt="">
        <button class="button1"> <a href="/vlog">Vlog</a></button>
    </div>
</section>
<section class="owner" id="owners">
    <img src="../static/pics/kunal.jpeg" alt="kunal_image">
    <div class="content">
        <h2 class="forlap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora fugiat accusamus, ex et quia sit debitis natus molestias expedita incidunt.</h2>
        <h3 class="forphone">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, minima.</h3>
    </div>
</section>
<section class="owner1">
    <img src="../static/pics/sumit.jpg" alt="kunal_image">
    <div class="content">
        <h2 class="forlap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora fugiat accusamus, ex et quia sit debitis natus molestias expedita incidunt.</h2>
        <h3 class="forphone">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, minima.</h3>
    </div>
</section>
<footer class="foot">
    <div class="left_foot">
<div class="leftinner">Email Id:KunalUpadhyay@gmail.com</div>
<div class="leftinner">Address:House No. XXX Faridabad,Sec-XX</div>
<div class="leftinner">ratings</div>
    </div>
    <div class="mid_foot">
        <div class="Midinner">Social Media Accounts</div>
        <div class="social">
            <a href="https://www.instagram.com" class="fa fa-instagram" target="blank"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter" target="blank"></a> 
            <a href="https://www.linked.in" class="fa fa-linkedin" target="blank")></a>
            <a href="https://www.facebook.com" class="fa fa-facebook" target="blank"></a>
        </div>
    </div>
    <div class="right_foot">
        <div class="Rightinner">FAQ</div>
        <div class="Rightinner">&copy;||All Rights Are Reserved By Sukun2021.</div>
        </div>
    
<script src="../static/javascript/home.js"></script>
</footer>

</body>
</html>