<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggest_me_Vlog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/vlog.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" media="screen and (max-width:500px)" href="../static/css/phonevlog.css">
    <link rel="stylesheet" media="screen and (min-width:500px) and (max-width:1000px)" href="../static/css/phonevlog1.css">
</head>
<body>
    <ul class="right_end vright">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/contact">Contact Us</a> </li>
        <li> <a href="#">About Us</a> </li>
        <li> <a href="/developer">About Developer</a> </li>
    </ul>
    <section class="first">
        <h1>Latest Videos</h1>
<div class="container">
       <div class="inner"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
       <div class="inner"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
       <div class="inner inner1"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
</section>
<section class="first">
    <h1>Most Searched/Watch Videos</h1>
<div class="container">
   <div class="inner"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
   <div class="inner"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
   <div class="inner inner1"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<section class="first">
    <h1>Upcoming Videos</h1>
<div class="container">
   <div class="inner "><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
   <div class="inner"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
   <div class="inner inner1"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/ZNOi5zGKFBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
</section>
<footer class="foot">
    <div class="left_foot">
<div class="leftinner">Email Id:KunalUpadhyay@gmail.com</div>
<div class="leftinner">Address:House No. XXX Faridabad,Sec-XX</div>
<div class="leftinner">ratings</div>
    </div>
    <div class="mid_foot">
        <div class="Midinner">Social Media Accounts</div>
        <div class="social">
            <a href="https://www.instagram.com" class="fa fa-instagram" target="blank"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter" target="blank"></a> 
            <a href="https://www.linked.in" class="fa fa-linkedin" target="blank")></a>
            <a href="https://www.facebook.com" class="fa fa-facebook" target="blank"></a>
        </div>
    </div>
    <div class="right_foot">
        <div class="Rightinner">FAQ</div>
        <div class="Rightinner">&copy;||All Rights Are Reserved By Sukun2021.</div>
        </div>
    
<!-- <script src="../javascript/home.js"></script> -->
</footer>
</body>
</html>